*{
    font-family: sans-serif;
    margin: 0 auto;
}

html {
    height: auto;
    width: 100%;
}

.btn{
    display:inline-block;
    flex-direction: row;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    margin-right: 5px;
    margin: 3vh;
}

.requirements{
    width: 25rem;
    height: 30rem;
    border: 1px solid gray;
    box-shadow: 3px 3px 7px silver;
}

.text_Fields{
    height: 2rem;
    width: 80%;
}

.Zeit_Buchung{
    margin-top: 3vh;
    margin-left: 5px;
    margin-right: 5px;
}

.Search_Button{
    margin-top: 5vh;
    display:inline-block;
    flex-direction: row;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    margin-right: 5px;
    background-color: black;
}

.Stockwerk{
    height: 2rem;
    width: 30%;
}

.Header_Title{
    height: 8rem;
    width: 100%;
    background-color: lightgray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer_Class{
    height: 10vh;
    width: 100%;
    background-color: black;
    color: black;
}

.standorte-button {
    height: 10rem;
    width: 45%;
    display: flex;
    align-items: center;
    background-color: #e5e7eb;
    justify-content: center;
    margin: 10px;
    border-width: 0px;
    font-size: 22px;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.standorte-button:active {
    background-color: #d1d5db;
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.standorte-button:hover {
    background-color: #d1d5db;
}

.standorte-div {
    display: flex;
}

.home {
    margin-top: 50px;
    width: 80%;
}

.search-part-box {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    justify-content: space-between;
}

.active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.pressed-button {
    height: 9rem;
    width: 40%;
    background-color: #d1d5db;
}