.popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.popUp-main {
  display: flex;
  flex-direction: column;
}

.popUp-Content {
  top: 50%;
  left: 50%;
  width: 40%;
  display: flex;
  overflow: auto;
  position: fixed;
  min-height: 50%;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  background: white;
  justify-content: center;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 3px silver;
}

.BuchenPopUpButton {
  border: none;
  color: white;
  min-width: 80%;
  margin-top: 10%;
  min-height: 10%;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 10px;
  font-family: inherit;
  text-decoration: none;
  background-color: #00b8cf;
  margin: 0px 15px 15px 0px;
}

.Buchung-Title {
  top: 0;
  display: flex;
  font-weight: bold;
  align-items: center;
}

.showInfo-Sz {
  color: white;
  padding: 5px 10px;
  background-color: blue;
}

.closePopUpButton {
  top: 0;
  right: 0;
  width: 10%;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  min-height: 10%;
  padding: 10px 20px;
  text-align: center;
  position: absolute;
  font-family: inherit;
  text-decoration: none;
  background-color: black;
  margin: 10px 10px 10px 10px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.popUp-zimmername {
  margin-top: 10%;
  font-weight: bold;
}

.popUp-standort {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

.popUp-stockwerk {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

.popUp-maxP {
  text-align: left;
}

.divider-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.popUp-PicName {
  height: 70px;
  padding: 20px;
  display: flex;
  min-width: 60%;
  text-align: center;
  flex-direction: row;
  justify-content: center; 
}

.popUp-info {
  height: 100%;
  display: flex;
  padding: 40px;
  min-width: 30%;
  margin-right: 10px;
  flex-direction: column;
  background-color: #cbd5e1;
}

.popUp-pic {
  height: 40%;
  min-width: 30%;
  position: fixed;
  margin-bottom: 20%;
  background-color: black;
}

.popUp-Footer {
  bottom: 0;
  width: 100%;
  height: 20px;
  display: flex;
  position: absolute;
  background-color: black;
}

.zimmerCommunication{
  display: none;
}

.appointments-component {
  width: 45%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: silver;
}

.all-appointments {
  display: flex;
  flex-wrap: wrap;
}

.buchung-Button {
  width: 90%;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  flex-direction: row;
  font-family: inherit;
  text-decoration: none;
  background-color: black;
  transition: 200ms padding;
}

.buchung-Button:hover {
  background-color: #404040;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buchung-Button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.edit-cancel-buttons {
  gap: 10px;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1300px) {
  .edit-cancel-buttons {
    flex-direction: column;
  }

  .buchung-Button {
    width: 100%;
  }
}