.appointment-popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.appointment-popup-inner {
    width: 100%;
    padding: 32px;
    max-width: 640px;
    position: relative;
    background-color: #FFF;
}

.close-appointment-popup {
    top: 16px;
    right: 16px;
    color: white;
    padding: 2px 7px;
    border-radius: 5px;
    position: absolute;
    background-color: black;
}

.appointment-popup-content {
    display: flex;
}

.appointment-popup-right {
    width: 45%;
    margin-left: 5rem;
}

.appointment-popup-left {
    width: 45%;
}
