.hideDropdown {
  display: none;
}

/*Hintergrund für Dropdown*/
.requirements {
  width: 25rem;
  height: 35rem;
  padding-top: 1px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px 7px 3px silver;
}


.dropdown-main{
  width: 10rem;
}

.dropdown-button {
  width: 15rem;
  height: 2.8rem;
  border: none;
  width: 10rem;
  color: white;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  font-family: inherit;
  background-color: black;
  margin-top: 35px;
  border-radius: 5px;
}

.dropdown-button:hover {
  background-color: #404040;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 1050px) {
  .dropdown-button {
    width: 10rem;
  }
}

@media screen and (max-width: 650px) {
  .dropdown-button {
    width: 5rem;
  }
}

/*Suchbutton bei Weitere Filter*/
.search_Button {
  width: 90%;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 20px;
  flex-direction: row;
  font-family: inherit;
  margin: 30px 0 10px 0;
  text-decoration: none;
  transition: 200ms padding;
  background-color: black;
}

/*Suchbutton bei Weitere Filter "Schwebe Effekt"*/
.search_Button:hover {
  transform: translateY(-3px);
  background-color: #404040;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.search_Button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}